.jumbotron.call-to-action {
    margin-top: 60px;
    padding-bottom: 10px;

}

.table-of-contents {
    position: fixed;
    right: auto;
    top: auto;
    margin-top: 60px;
}

.panel-image {
    background-image: url(isat.png);
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    height: 50vh;
    max-height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%
}

.card-toc {
    width: 12rem;
}

a {
    color: black;
}

.navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}
