
.jumbotron.call-to-action {
    margin-top: 60px;
    padding-bottom: 10px;

}

.wp-custom-header {
    top: 0;
    object-fit: cover;
    left: 0;
    height: 100%;
}

.navbar {
    position: absolute;
    width: 100%;
    padding: .5rem 1rem;
    margin-bottom: 3em;
}

#home {
    margin-top: 3em;
}

#reddishKnob {
    width: 100%;
    height: 300px;
}

#col-md-2 {
    margin-top: 5em;
    word-break: break-word;
}

a {
    font-size: 10pt;
}

.entry-header {
    margin-bottom: 60px;
    margin-top: 6em;
    padding-left: 60px;
}
.entry-content {
    width: 700px;
    text-align: left;
    word-wrap: break-word;
    padding-left: 60px;
}

#entryP {
    margin-bottom: 15px;
}